<!doctype html>
<html ng-app="myApp"> 
    
<head>
    <title>BYU Utah Game Prediction</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
        
<body>  
    <div ng-controller="myController">
        <h2 id="welcomeText">Welcome,
            <%= username %>!
        </h2>
        <a id="logoutLink" href="/logout">Log out</a>
        <a id="editLink" href="/user">Make Prediction</a>
    </div>
    <hr>
    <span id="colorText">
    My Prediction:
        <%= color %>
      </span>
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="/javascripts/my_app.js"></script>
</body>
      
</html>
