<!doctype html>
<html ng-app="myApp">
    
<head>
    <title>BYU Utah Basketball Game</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
        
<body>  
    <div class="form-container" ng-controller="myController">
        <p id="sectionTitle" class="form-header">Who will win this Saturday?</p>
        <form method="POST" action="/user/update">
            <label>Winner:</label>
            <input type="text" id="color" name="color" ng-model="user.color"><br>   
         <input type="submit" id="save" value="Submit">
        </form>
    </div>
    <hr>
    </span>
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="/javascripts/my_app.js"></script>
    <a id="homeLink" href="/">Home</a>
</body>

</html>

